:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #29539f;
  --border-color: rgb(177, 174, 174);

  --header-height: 120px;
  --navnar-height: 43px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navnar-height)
  );
}

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
/* Responsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
/* Test */
.grid__column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid__column-10 {
  width: 83.3334%;
}
/* Animation */

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Growth {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  margin: auto;
  position: relative;
  margin: auto;
  z-index: 1;
  animation: Growth linear 0.35s, fadeIn linear 0.35s;
}

/* button style */
.btn {
  min-height: 30px;
  min-width: 90px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  line-height: 1.6rem;
  background-color: var(--white-color);
}
.btn.btn-normal:hover {
  opacity: 0.9;
}
.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn--disable {
  cursor: default;
  background-color: #c3c3c3;
  color: #949494;
}

.btn.btn-size-s {
  height: 32px;
  font-size: 1.2rem;
  width: 45%;
}
/* selection */
.select-input {
  position: relative;
  height: 3rem;
  padding: 0 1.2rem;
  border-radius: 2px;
  background-color: var(--white-color);
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-input:hover .select-input__list {
  display: block;
}
.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 2.2rem;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 1.2rem 1.6rem;
  list-style: none;
  display: none;
}

.select-input__link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 0.5rem 0;
}
.select-input__link:hover {
  color: #29539f;
}
